.nav {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.link {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
}

.activeLink {
    color: #007bff;
    font-size: 20px;
}
